[Desktop Entry]
Categories=Audio;Player;Qt;
Comment=UPnP audio Control Point
Exec=upplay
GenericName=UPnP audio Control Point
Icon=upplay
Name=Upplay
Terminal=false
Type=Application
Keywords=audio;upnp;
