
/* The current path indicator is an ul */
#browsepath {
    font-size: 80%;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

#browsepath ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#browsepath li {
    margin-left: 3px;
    float: left;
}


#entrylist div:nth-child(even) {
    background: #eee;
}

#entrylist div:nth-child(odd) {
    background: #fff;
}

.tracknum {
    display: inline-block;
    width: 1em;
    visibility: hidden;
}

.tk_artist {
    display: inline-block;
    width: 8em;
    align: left;
    margin-left: 5px;
}
.tk_album {
    display: inline-block;
    width: 8em;
    margin-left: 5px;
}
.tk_title {
    display: inline-block;
    width: 10em;
    margin-left: 5px;
}
.tk_duration {
    display: inline-block;
    margin-left: 5px;
}
