

/* General font selection. This is the place to adjust the font size for the
 * directory browser area. The distributed file uses the system
 * default (the size spec is commented out. */
html, body, form, fieldset, table, tr, td, img {
    font-family:Arial,helvetica,sans-serif;
/*    font-size: 10pt;*/
}


/* Servers page. Each is a p */
p.cdserver {
    margin: 7px 0px 0px 0px;
}

a {
    text-decoration: none;
}

/* The current path indicator is an ul inside a browsepath div */
#browsepath {
    font-size: 80%;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

#browsepath ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#browsepath li {
    margin-left: 3px;
    float: left;
}

/* Directory listing */

/* The table id is entrylist */
#entrylist {
    clear: both;
    width: 100%;
/*    table-layout: fixed;*/
}

// The table begins with a colgroup, with the following column
// classes. I was not able to do anything really useful with setting
// the widths, I find that the automatic approach is always
// better. This might be different if overflow: and text-overflow:
// worked, but they don't appear to. So the following is commented out
// by default
/*
.coltracknumber {
  width: 4%;
}
.coltitle {
  font-size: 50%;
  width: 30%;
}
.colartist {
  width: 30%;
}
.colalbum {
  width: 30%;
}
.colduration {
  width: 6%;
}
*/

/* Styles for the directory list cells */
.tk_tracknum {
    width: 1em;
}
.tk_artist {
    align: left;
    margin-left: 5px;
}
.tk_album {
  margin-left: 5px;
// Could not get this to work, 
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: ellipsis;
}
.tk_title {
    margin-left: 5px;
}
.tk_duration {
    margin-left: 5px;
}
