/* Servers page. Each is a p */
p.cdserver {
    margin: 7px 0px 0px 0px;
}

/* The current path indicator is an ul inside a browsepath div */
#browsepath {
    font-size: 80%;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

#browsepath ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#browsepath li {
    margin-left: 3px;
    float: left;
}

/* Directory listing */

#entrylist {
    clear: both;
    width: 100%;
}

/* Styles for the directory list cells */
.tk_tracknum {
    width: 1em;
}
.tk_artist {
    align: left;
    margin-left: 5px;
}
.tk_album {
    margin-left: 5px;
}
.tk_title {
    margin-left: 5px;
}
.tk_duration {
    margin-left: 5px;
}
